html,
body,
main {
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: red; */
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.container {
    width: 835px;
    margin: 0px auto;
}

.center-flex {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
}

.text-center {
    text-align: center;
}

.logo-pic {
    padding-right: 38px;
}

.welcome h1,
.welcome h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    color: gray;
    font-style: italic;
}

.error {
    color: purple;
    font-style: italic;
}
.form-elements {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-element {
    margin-bottom: 3px;
}

.tab-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.tabs {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 450px;

    padding: 24px 32px;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);

    margin: 80px 0;
}

.tab-list {
    display: flex;
    margin-left: 10px;
    padding-bottom: 24px;
}

.navbar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-header {
    font-size: 25px;
}

.nav-separator {
    flex-grow: 1;
}

.nav-links {
    margin-right: 8px;
}

.nav-link {
    margin-right: 5px;
}
