html,
body,
main {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 30px;
    background: white url("lego.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    width: 835px;
    margin: 0px auto;
    /* opacity: 0.2; */
}

.center-flex {
    display: flex;
    justify-content: center;
    height: 100%;
}

.text-center {
    text-align: center;
}
.logo {
    margin: 5px;
    top: 15px;
}
.logo-pic {
    padding-right: 38px;
}

.welcome {
    /* position: relative;
    top: 100px; */
}

.reg-body a {
    color: white;
}

.navbar a {
    color: white;
}

.dark-overlay {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* text-align: center; */
    /* border-radius: 25px; */
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.logo h1,
.logo h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    color: white;
    font-size: 3em;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
}

.error {
    color: purple;
    font-style: italic;
}

.reg-body input {
    background: transparent;
    /* opacity: 0.5; */
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 8px 0;
    margin-top: 20px;
}

inpit {
}

.btn-class {
    background: #03a9f4;
    padding: 10px 16px;
    width: auto;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    margin: 15px 15px 15px 0;
    transition: all 0.25s;
}

.form-elements {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-element {
    margin-bottom: 3px;
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-size: 14px;
    color: white;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
}

.navbar {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-header {
    font-size: 25px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
}

.nav-separator {
    flex-grow: 1;
}

.nav-links {
    margin-right: 8px;
}

.nav-link {
    margin-right: 5px;
}

.application-form {
    max-width: 600px;
    /* width: 100%; */
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.application-form input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid gray;
    font-size: 14px;
    color: gray;
    font-weight: bold;
    padding: 8px 0;
    margin-top: 20px;
}

.kita-profile input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid gray;
    font-size: 14px;
    color: gray;
    font-weight: bold;
    padding: 8px 0;
    margin-top: 20px;
}

.kita-profile .kita-search {
    border: 0;
    outline: 0;
    border: 1px solid gray;
    font-size: 14px;
    color: gray;
    font-weight: bold;
    padding: 8px 0;
    margin-top: 20px;
}

.application-form ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */

    opacity: 1; /* Firefox */
    font-size: 14px;
    color: gray;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
}

.pain {
    display: flex;
}
.column {
    flex: 50%;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;
    font-size: 1.5em;
    font-weight: 250;
}
.modal-pic {
    width: 50px;
    height: 50px;
}
.modal-header {
    display: flex;
    justify-content: flex-end;
}

.modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: 0.3;
    cursor: pointer;
    border: none;
}

button {
    font-size: 0.9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: 0.3rem 1rem;
    margin-left: 0.5rem;
}

.button-default {
    background: #247ba0;
    color: #fff;
}

/* other kita styles */

.kita-profile {
    background: #fff;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content {
    position: absolute;
    width: 95%;
    margin: 10px;
    text-align: center;

    flex-direction: column;
}
.content p {
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
}

.post {
    position: relative;
    display: inline-block;
    margin: 20px;
    background: #eceff1;
    border-radius: 7px;
}

.main {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 13px;
}

.kita-pic {
    /* width: 50%; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 5px;
}

.main .preview {
    width: 30%;
    height: 100%;
    background: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main > .main-info {
    width: 70%;
    height: 100%;
    /* background: hotpink; */
    display: flex;
    flex-direction: column;
    text-align: left;
}

.main-info > div {
    margin: 2px 2px 2px 25px;
}

.kitaname {
    font-size: 1.5em;
    font-weight: bold;
}

.sec {
    width: 100%;
    /* height: 33%; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    /* font-size: 1.15em; */
    /* background-color: aquamarine; */
}

.sec > div {
    margin: 10px 25px;
    /* font-family: "Open Sans Condensed", sans-serif; */
    /* color: dimgray; */
}

/* textarea {
    height: auto;
    width: 100%;
} */
.desc {
    text-align: justify;
    overflow-wrap: break-word;
}

.ter {
    height: 212px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    /* background: #d4e157; */
}

.ter > div {
    margin: 10px 25px;
    /* font-size: 1.17em; */
}
/* kitainfo */
.kita {
    overflow-wrap: break-word;
}

.kita .kita-profile {
    background: #fff;
    display: block;
    height: 835px;
    /* position: relative; */
    margin: 50px 10px;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/*
.kita .post {
    position: relative;
    display: inline-block;
    background: #eceff1;
    border-radius: 7px;
} */
/*
.kita .main {
    display: flex;
} */

.pic-info {
    /* min-width: 25%; */
    /* flex-grow: 1; */
    margin: 10px;
}
.adr-info {
    min-width: 25%;
    flex-grow: 2;
}
.some-info {
    min-width: 25%;
    flex-grow: 1;
}
.application {
    min-width: 25%;
    flex-grow: 1;
}
/* .website {
    height: 1.16em;
} */

.address p {
    /* font-weight: 300;
    font-size: 1.2em; */
}

.title {
    margin: 2px;
    left: 10px;
    font-weight: 550;
    font-size: 1.3em;
}

.circular--square {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: powderblue;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
}
/* find kita */

.parent-profile {
    margin-top: 40px;
}

.parent-pic-info {
    margin: 20px;
}

.findkita-container {
    padding-top: 5px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.kita-info-row {
    margin-bottom: -5px;
}

.kita-info {
    margin-top: 3px;
}

.parent-info {
    align-items: center;
}

.application-form {
    text-align: center;
}

.pain-no-gain textarea {
    width: 80%;
}
